header {
  padding: 0 30px;
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
}

header img {
  height: 45px;
  width: auto;
}

.logo-mobile {
  display: none;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.wallet-adapter-button-trigger {
  font-family: "Montserrat", sans-serif !important;
}

.wallet-adapter-button-trigger {
  background-color: #6dbddc !important;
  border-radius: 12px !important;
  outline: none !important;
}

.wallet-adapter-button-trigger:hover {
  background-color: #6b9bcc !important;
}

.wallet-adapter-dropdown-list-item {
  font-family: "Montserrat", sans-serif !important;
}

.main-container {
  height: calc(100vh - 80px);
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  padding: 0 30px;
  flex-direction: column;
}

.dashboard-button {
  background-color: transparent;
  color: #000;
  font-size: 30px;
}

@media (max-width: 640px) {
  header img {
    height: 35px;
  }
  .wallet-adapter-button-trigger {
    padding: 10px 15px !important;
    font-size: 14px !important;
  }
}

@media (max-width: 480px) {
  header img {
    display: none;
  }
  .logo-mobile {
    display: block;
  }
  .wallet-adapter-button-trigger {
    padding: 8px 12px !important;
    font-size: 12px !important;
  }
  .main-container {
    padding: 0 15px;
  }
}
