:root {
  line-height: 1.5;
  font-weight: 400;
  height: 100vh;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background-color: #e0e0e0;
  border-radius: 10px;
  border: 2px solid white;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #e0e0e0 white;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  background-image: url("/pont_bg.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  height: 100vh;
  overflow-x: hidden;
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 12px;
  border: none;
  outline: none;
  padding: 12px 30px;
  font-size: 14px;
  font-weight: 600;
  background-color: #717cb9;
  cursor: pointer;
  transition: border-color 0.25s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 480px) {
  body {
    background-image: none;
  }
  button {
    font-size: 12px;
    padding: 12px;
  }
}
